{{ $totalReadingTime := 0 }}
{{ $totalWordCount := 0 }}

{{- range .Pages }}
    {{- if .IsPage }}
        {{- $totalReadingTime = add $totalReadingTime .ReadingTime }}
        {{- $totalWordCount = add $totalWordCount .WordCount }}
    {{- else }}
        {{- $nestedValues := partial "calculate-total" . }}
        {{- $totalReadingTime = add $totalReadingTime (index $nestedValues 0) }}
        {{- $totalWordCount = add $totalWordCount (index $nestedValues 1) }}
    {{- end }}
{{- end }}

<!-- 返回一个包含两个值的切片 -->
{{ slice $totalReadingTime $totalWordCount }}
