<!-- 判断深度 -->
{{ if eq (int .comment.depth) 0 }}
<div class="comment" data-depth="{{ .comment.depth }}" >
  <img src="https://www.gravatar.com/avatar/{{ md5 .comment.email }}?s=100&d=wavatar" alt="{{ .comment.name }} Avatar">
  <div class="author">{{ .comment.name }}</div>
  <div class="message">{{ .comment.comment }}</div>
  <button class="reply-button" data-parent="{{ .comment.parent }}" data-name="{{ .comment.name }}" data-custom="{{ .comment.custom }}">Reply (Parent ID: {{ .comment.parent }})</button>
  <span class="time">{{ .comment.time }}</span>
</div>

{{ else if and (gt (int .comment.depth) 0) (le (int .comment.depth) 2) }}
  <!-- 深度大于 0 且小于等于 2 的评论 -->
<!-- 判断深度，添加对应的类 -->
<div class="comment {{ if gt .comment.depth 0 }}child-comment{{ end }}" data-depth="{{ .comment.depth }}"style="margin-left: {{ mul (int (default 0 .comment.depth)) 30 }}px !important;">
  <img src="https://www.gravatar.com/avatar/{{ md5 .comment.email }}?s=100&d=wavatar" alt="{{ .comment.name }} Avatar">
  <div class="author">{{ .comment.name }}</div>
  <div class="message">{{ .comment.comment }}</div>
  <button class="reply-button" data-parent="{{ .comment.parent }}" data-name="{{ .comment.name }}" data-custom="{{ .comment.custom }}">Reply (Parent ID: {{ .comment.parent }})</button>
  <span class="time">{{ .comment.time }}</span>
</div>
{{ end }}


  