{{$response := newScratch}}
{{if and site.Params.FormspreeCommentForm (getenv "COMMENTS_TOKEN")}}

  {{$comments:= getJSON "https://formspree.io/api/0/forms/" site.Params.FormspreeCommentForm "/submissions" (dict "Authorization" (printf "Bearer %s" (getenv "COMMENTS_TOKEN"))) }}

  {{ range sort $comments.submissions "_date" "ASC" }}
    {{if not ($response.Get .url)}}
      {{$response.Set .url (slice )}}
    {{end}}

    {{/* 标准化评论数据，确保每个评论都有相同的字段 */}}
    {{$commentData := dict
      "custom" (default (print "custom-" now.UnixNano) .data.custom)
      "parent" (default "" .data.parent)
      "name" (default "" .data.name)
      "email" (default "" .data.email)
      "comment" (default "" .data.comment)
      "time" (default "" .data._date)
    }}

    {{$response.Add .url $commentData}}
  {{ end }}
{{ end }}

{{return $response.Values}}
