{{ $response := newScratch }}
{{ if and site.Params.NetlifyCommentForm (getenv "COMMENTS_TOKEN") }}
  {{ $comments := getJSON "https://api.netlify.com/api/submissions" (dict "Authorization" (printf "Bearer %s" (getenv "COMMENTS_TOKEN"))) }}
  {{ if $comments.submissions }}
  {{ range sort $comments.submissions "_date" "ASC" }}
    {{ if not ($response.Get .url) }}
      {{ $response.Set .url (slice) }}
    {{ end }}
    {{ $commentData := dict 
      "custom" (default (print "custom-" now.UnixNano) .data.custom)
      "parent" (default "" .data.parent)
      "name" (default "" .data.name)
      "email" (default "" .data.email)
      "comment" (default "" .data.comment)
      "time" (default "" .data._date)
    }}
    {{ $response.Add "comments" $commentData }}
  {{ end }}
{{ end }}

{{ return $response.Values }}


