{{ $response := newScratch }}
{{ if and site.Params.NetlifyCommentForm (getenv "COMMENTS_TOKEN") }}
  {{ $comments := getJSON "https://api.netlify.com/api/v1/forms/" site.Params.NetlifyCommentForm "/submissions?access_token=" (getenv "COMMENTS_TOKEN") }}
  
  {{ if $comments }}
    {{ range sort $comments "created_at" "asc" }}
      {{ $commentData := dict 
        "custom" (default (print "custom-" now.UnixNano) .data.custom)
        "parent" (default "" .data.parent)
        "name" (default "" .data.name)
        "email" (default "" .data.email)
        "comment" (default "" .data.comment)
        "time" (default "" .data._date)
      }}
      {{ $response.Add "comments" $commentData }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $response.Get "comments" }}






