<div class="profile-card">
    <div class="card-avatar">
        <div class="profile-image">
            <img src="{{ .Get "image" }}" alt="Profile Image">
        </div>
        <h3>{{ .Get "name" }}</h3>
        <p class="subtitle">{{ .Get "subtitle" }}</p>
        <p class="description">{{ .Get "description" }}</p>
    </div>

        <!-- 社交网络区域 -->
        <div class="social-links">
            <p>社交网络</p>
            <a href="https://x.com/i/flow/login" target="_blank" class="social-item">Twitter </a>
            <a href="https://www.zhihu.com/people/wu-shang-27-29" target="_blank" class="social-item">ZhiHu @Chiara-Lee </a>
            <a href="https://github.com/Chiara-Lee" target="_blank" class="social-item">Github @Chiara-Lee</a>
        </div>
    </div>    
</div>

