{{/*  a Boolean specifying whether the math is in 
     display-mode or inline mode */}}
     {{ $display := true }}
     {{ with .Get "display" }}
       {{ if eq . "false" }}{{ $display = false }}{{ end }}
     {{ end }}
     
     {{ if (and site.Params.Latex2Svg (getenv "LATEX2SVG_PASSWORD")) }}
       {{ $tex := .Inner | plainify }} <!-- 将 .Inner 转换为纯文本 -->
       {{ $json := getJSON site.Params.Latex2Svg "?" 
          (querify "tex" $tex) 
          "&password=" (getenv "LATEX2SVG_PASSWORD") 
          "&display=" $display }}
       {{ with $json.data }}
         <span class="{{ if $display }}display-math{{ else }}inline-math{{ end }}">
           {{ . | safeHTML }}
         </span>
       {{ end }}
     {{ else }}
       <span class="fallback-latex">
         {{ .Inner | plainify | safeHTML }}
       </span>
     {{ end }}
     
     